<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serve to Client</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <%- include ("partial/nav.ejs") %>
    <br>
    <h1>Contact Succes page</h1>
    <h3>Thanks for getting in touch with us!</h3>
    <p>Here is the form details</p>
    <p>You want to connect with <strong><%= data.Who %></strong> works in <strong><%= data.Department %></strong> department</p>
    <p>We will reply soon on Your Email i.e <strong><%= data.Email %></strong></p>

</body>
</html>